In [2]:
# Indexando Strings

nome = "Daniel"

nome[1]

len(nome)

6

In [4]:
# interação com strings

for caractere in nome:
    print(caractere)

D
a
n
i
e
l

In [5]:
for i in range(len(nome)):
    print(nome[i])

D
a
n
i
e
l

In [8]:
# alterando caracteres

nome = nome.replace("l", "u")

nome

'Danieu'

In [12]:
# colocando strings em uma lista

nome_lista = list(nome)

nome_lista[5] = "l"

nome_lista

['D', 'a', 'n', 'i', 'e', 'l']

In [13]:
# colocando lista para string(join)

"".join(nome_lista)

'Daniel'

In [16]:
# operações com strings

"a" + "b"

"abc" * 5

'abcabcabcabcabc'