In [1]:
# exemplo 1

cadastro = {"nomes": ["jose", "maria", "pedro"],
            "idades": [20, 30, 15],
            "cidades": ["sp", "rj", "sa"]}

cadastro

{'nomes': ['jose', 'maria', 'pedro'],
 'idades': [20, 30, 15],
 'cidades': ['sp', 'rj', 'sa']}

In [4]:
cadastro["nomes"]

['jose', 'maria', 'pedro']

In [5]:
# adiocionado um nova chave no dicionario

cadastro["altura"] = [1.85, 1.72, 1.66]
cadastro

{'nomes': ['jose', 'maria', 'pedro'],
 'idades': [20, 30, 15],
 'cidades': ['sp', 'rj', 'sa'],
 'altura': [1.85, 1.72, 1.66]}

In [6]:
cadastro["altura2"] = [1.85, 1.72, 1.66]
cadastro["altura3"] = [1.85, 1.72, 1.66]

In [7]:
# apagando chaves do dicionario

cadastro.pop("altura2")
cadastro

{'nomes': ['jose', 'maria', 'pedro'],
 'idades': [20, 30, 15],
 'cidades': ['sp', 'rj', 'sa'],
 'altura': [1.85, 1.72, 1.66],
 'altura3': [1.85, 1.72, 1.66]}

In [8]:
del cadastro["altura3"]
cadastro

{'nomes': ['jose', 'maria', 'pedro'],
 'idades': [20, 30, 15],
 'cidades': ['sp', 'rj', 'sa'],
 'altura': [1.85, 1.72, 1.66]}

In [10]:
# alterar valores no dicionario

cadastro["cidades"][1] = "jp"
cadastro

{'nomes': ['jose', 'maria', 'pedro'],
 'idades': [20, 30, 15],
 'cidades': ['sp', 'jp', 'sa'],
 'altura': [1.85, 1.72, 1.66]}

In [12]:
# adionando novo elemento

cadastro["nomes"].append("joaquim")
cadastro["idades"].append(18)
cadastro["cidades"].append("al")
cadastro["altura"].append(1.87)

cadastro

{'nomes': ['jose', 'maria', 'pedro', 'joaquim', 'joaquim'],
 'idades': [20, 30, 15, 18],
 'cidades': ['sp', 'jp', 'sa', 'al'],
 'altura': [1.85, 1.72, 1.66, 1.87]}

In [13]:
# iterando com dicionario

for elemento in cadastro:
    print(elemento)

nomes
idades
cidades
altura

In [14]:
lista_info = []

for chave in cadastro:
    lista_info.append(cadastro[chave][2])

lista_info

['pedro', 15, 'sa', 1.66]