In [1]:
tupla = (1, 4.2, True, "Ada", [1, 2, 3])

len(tupla)

5

In [2]:
# tuple unpacking

x, y = 10, 50

x , y

(10, 50)

In [3]:
# operações com tuplas

tupla[1]

4.2

In [4]:
for elemento in tupla:
    print(elemento)

1
4.2
True
Ada
[1, 2, 3]

In [5]:
for i in range(len(tupla)):
    print(i ,tupla[i])

0 1
1 4.2
2 True
3 Ada
4 [1, 2, 3]

In [9]:
# convertendo tupla em lista

lista = list(tupla)
print(lista)

[1, 4.2, True, 'Ada', [1, 2, 3]]

In [12]:
# convertendo lista para tupla

tupla = tuple(lista)
print(tupla)

(1, 4.2, True, 'Ada', [1, 2, 3])

In [13]:
def valores_quadrado_cubo(x):
    return x, x**2, x**3

valores_quadrado_cubo(3)

(3, 9, 27)